<!--  banner slider end  -->
<section id="main-banner">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-main text-center">
                    <h3 class="lg-title wow fadeInLeft">AI & NLP WORKSHOP DAY</h3>
                    <h4>October 19th, 2018, Warsaw, Poland</h4>
                    <div class="time-countdown text-center">
                        <div id="clock" class="time-count"></div>
                    </div>
                    <div class="section-cta wow bounceIn"> <a href="https://www.facebook.com/events/1925849024104714/permalink/1978682192154730/" class="btn btn-white page-scroll">See photos from the event</a> </div>
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
<!-- section slider end	-->
